# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#IDE Files #
.idea
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/it42_sbb/nbproject/private/
/Kurstag_2/Übungen/it42_kurstag_2/nbproject/private/
/Kurstag_3/Übungen/it42_kurstag_3/nbproject/private/
/Kurstag_4/Übungen/it42_kurstag_4/nbproject/private/
/Kurstag_3/Übungen/it42_kurstag_3/build/
/Kurstag_1/Übungen/it42_kurstag_1/nbproject/private/
/Kurstag_5/Übungen/it42_kurstag_5/nbproject/private/
/Allgemein/it42_allgemein/nbproject/private/
/Kurstag_6/it42_kurstag_6/nbproject/private/
/Kurstag_6/Übungen/it42_kurstag_6/build/
/Kurstag_7/Übungen/it42_kurstag_6/nbproject/private/
/Kurstag_7/Übungen/it42_kurstag_6/build/